html, body {
  margin: 0;
  padding: 0;
  font-family: Helvetica, sans-serif;
  font-size: 16px;
}
#headline-image > img {
  width: 100%;
}
h1 {
  font-size: 3em;
  font-family: serif;
  line-height: 58px;
  text-align: center;
  margin-top: auto;
  margin-bottom: auto;
}
h2 {
  font-size: 1em;
  line-height: 34px;
  text-align: center;
  font-weight: normal;
  margin-top: auto;
}
